* {
  /* box-sizing: border-box; */
}

:focus {
 /* TODO */
}

body {
  /* TODO */
}

input {
 /* TODO */
}

.search-container {
 /* TODO */
}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   /* TODO */
}

ul {
  border: 1px dotted rgb(223, 218, 218);
  padding: 3px;
  
}

ul.has-suggestions {
list-style-type: none;
padding: 0;
margin: 0;
}

ul li {
  padding: 5px 0;
}
ul li:hover {
  background-color: rgb(177, 170, 170);
}

input {
   /* TODO */
}